@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-pagination .swiper-pagination-bullet {
    @apply bg-gray-400 w-2 h-2 rounded-full mx-1 transition-colors duration-500 ease-in-out;
  }

  .custom-pagination .swiper-pagination-bullet-active {
    @apply bg-black;
  }
}
/* 
html, body {
  overscroll-behavior: none;
  overflow-x: hidden;
} */

/* * {
  font-family: Verdana, 'Trebuchet MS', sans-serif;
}

header {
  display: flex;
  border-bottom: 1px solid rgb(214, 214, 214);
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  box-shadow: 0 12px 24px rgba(0,0,0,0.06);
  z-index: 3;
}

button.primary {
  background-color: rgb(2, 86, 254);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 30px;
}

button.secondary {
  border: 1px solid rgb(2, 86, 254);
  background-color: rgb(255, 255, 255);
  color: rgb(2, 86, 254);
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 30px;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
} */